body {
    font-family: Arial, Sans-Serif;
    margin: 0;
    padding: 0;
}
button{
    border-radius: 5px;
    border: 1px solid hsl(0, 0%, 87%);
    padding-top: 3px;
    cursor: pointer;
}
button:hover{
    background-color: hsl(0, 0%, 82%);
}

/* HEADER */

header {
    background-color: hsl(0, 0%, 61%);
    color: white;
    width: 100%;
    padding: 7px 0; 
    display: flex; 
    justify-content: end; 
    align-items: center;
}
header h4 {
    margin: 0; 
    margin-left: 5px;
    font-size: 20px; 
    font-weight: normal; 
}
#cms{
    margin-left: 25px;
    margin-right: auto;
}
.cms_links{
    text-decoration: none;
    color: #ffffff;
}
.icon3 {
    font-size: 26px;
    padding: 3px;
    color: black;
}
.drop_down_message_menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 62px;
    right: 70px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    z-index: 1;
}
.drop_down_message_menu .messages {
    padding: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.drop_down_message_menu .messages .sender_nick {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-right: 10px;
}
.drop_down_message_menu .message_sender {
    margin: 0px;
    font-size: 14px;
    color: black;
}
.drop_down_message_menu .sender_text {
    padding: 10px;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
    margin: 0px auto;
    font-size: 12px;
    color: black;
}
.notify-dropdown:hover button, 
.user-dropdown:hover button{
    background-color:  hsl(0, 0%, 70%);
}
.notify-dropdown a:hover, 
.user-dropdown a:hover{
    border-radius: 5px;
    background-color: hsl(0, 0%, 90%);
}
#notificationBtn{
    height: 42px;
    padding-right: 7px;
    padding-left: 17px;
    align-items: center;
    justify-content: center;
}
.notify-dropdown:hover .drop_down_message_menu {
    display: flex;
}
#valid_error{
    display: flex;
    border-radius: 8px;
    background-color: rgb(255, 153, 153);
}
.Error_txt{
    padding: 10px;
    margin: 0 auto;
}
.hidden{
    display: none !important;
}
@media screen and (max-width: 600px) {
    .user-dropdown h4 {
        display: none; 
    }
    .user-content{
        right: 10px;
    }
    #userBtn{
        padding: 0px;
    }
    .notify-content{
        right: 60px;
        left:auto;
    }
}

/* MAIN */
.students{
    display: flex;
    flex-direction: column;
}

main h1{
    font-weight: lighter;
    margin-top: 15px;
    margin-bottom: 0px;
}
main {
    margin-left: 140px;
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
#main-title-btn{
    width: 30px;
    display: grid;
    align-self: flex-end;
    margin-bottom: 15px;
}

.check_mark {
    margin: 0 auto;
    width: 15px;
    height: 15px;
    border-radius: 8px;
}

/* nav_list BAR */

.toggle, .toggle-label{
    display: none;
}
.navbar{
    margin-top: 56px;
    height: min-content; 
    width: 120px;
    position: fixed; 
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
}
.navbar ul{
    list-style-type: none;
    padding: 15px;
    margin: 0px;
    overflow: hidden;
} 
.navbar a{
    color: black;
    text-decoration: none;
    padding: 8px;
    display: block;
    text-align: center;
}
.navbar a.active,
.navbar a:hover{
    font-weight: bold;
}
.navbar li{
    float: left;
}
@media screen and (min-width: 600px) {
    .navbar li:first-child,
    .navbar li:last-child {
        display: none;
    }
}
@media screen and (max-width: 380px) {
    .icon3 {
        font-size: 16px;
    }
    .drop_down_message_menu .messages {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }
    .drop_down_message_menu .message_sender {
        font-size: 10px;
    }
    .drop_down_message_menu .sender_text {
        padding: 6px;
        font-size: 9px;
    }
    .notify-dropdown:hover .drop_down_message_menu {
        display: none;
    }
    .delete_block .delete_head {
        width: 210px;
        padding: 0 15px 0 20px;
    }
    .delete_block .delete_head p {
        font-size: 16px;
    }
    .close_img {
        font-size: 15px;
    }
    .delete_block .delete_main {
        width: 245px;
        height: 60px;
        font-size: 10px;
    }
    .delete_block .delete_down {
        width: 205px;
        padding: 15px 20px 15px 20px;
    }
    .delete_block .delete_down #delete_ok {
        font-size: 10px;
        width: 50px;
        height: 20px;
    }
    .delete_block .delete_down #delete_cancel {
        font-size: 10px;
        width: 50px;
        height: 20px;
    }

    form div input{
        height: 20px;
        margin-left: 30px;
    }
    form div h4{
        margin: 15px 0 15px 0;
        font-size: 12px;
    }
    .status{
        font-size: 12px;
    }
    .check_mark {
        width: 6px;
        height: 6px;
        border-radius: 5px;
    }
}


@media screen and (max-width: 600px) {
    main{
        margin-left: 30px;
    }
    #cms{
        margin-left: 70px;
    }
    .toggle{
        display: none;
        appearance: none;
        -webkit-appearance: none;
    }
    .toggle-label{
        display: block;
        margin-left: 30px;
        margin-top: 10px;
        padding: 10px;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9999;
        color: #ffffff;
    }
    .navbar{
        transition: 0.5s ease;
        transform: translateX(-120px);
    }
    .toggle:checked + .toggle-label {
        background-color: hsl(0, 0%, 70%);
    }
    .toggle:checked + .toggle-label ~ .navbar {
        transform: translateX(0px);
        background-color: #ffffff;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
    }
}

/* TABLE */

tr td .non-active{
    background-color: #9d9d9d;
}

tr td .active{
    background-color: #19be5b;
}


.delete_block {
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0;
    border: none;
    background-color: rgba(161, 161, 161, 0.4078431373);
    z-index: 1;
}

.delete_block::backdrop {
    background: rgb(0 0 0 / 0.4);
}

.delete_block .delete_head {
    width: 630px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    padding: 0 30px 0 40px;
}
.delete_block .delete_head p {
    list-style-type: none;
    font-family: Roboto;
    font-size: 25px;
}
.close_img {
    font-size: 30px;
}
.delete_block .delete_main {
    width: 700px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: #fff;
    height: 120px;
    font-size: 24px;
}
.delete_block .delete_down {
    width: 620px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #fff;
    padding: 20px 40px 20px 40px;
    border-radius: 0 0 10px 10px;
}
.delete_block .delete_down #delete_ok {
    width: 100px;
    height: 40px;
}
.delete_block .delete_down #delete_cancel {
    width: 100px;
    height: 40px;
}

.table_block{
    overflow: auto;
    position: relative;
    margin-bottom: 30px;
}
#studentsTable {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    border: 1px solid hsl(0, 0%, 87%);
    text-align: center;
    padding: 8px;
    white-space: nowrap;
}
@media screen and (min-height: 415px) {
    .table_block {
        max-height: 415px;
    }
}

/* PAGINATION */
.paging-nav {
    overflow: hidden;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 42px;
    position: fixed;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%); 
    z-index: 1000;
}
.paging-nav a {
    margin: 0 5px;
    padding: 5px 10px;
    border: 1px solid hsl(0, 0%, 87%);
    border-radius: 5px;
    text-decoration: none;
    color: hsl(0, 0%, 20%);
}
.paging-nav a:hover,
.paging-nav a.selected-page {
    background-color: hsl(0, 0%, 82%);
}

/* DROPDOWN MENU */

.dropdown-container{
    overflow: hidden;
    display: flex;
}
.dropdown-container button{
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 5px;
    color: white;
    padding-right: 20px;
    margin-right: 10px;
    border: none;
    display: flex;
    align-items: center;
}
.dropdown-container a{
    display: block;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
}

.user-content{
    display: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    min-width: 130px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}

.user-dropdown:hover .user-content{
    display: block;
}
.user-content, 
.notify-content{
    display: none;
    border-radius: 5px;
    background-color: hsl(0, 0%, 95%);
    position: absolute;
    min-width: 130px;
    box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.2);
}
.icon-button-badge {
    position: relative;
    top: -6px;
    right: 17px;
    width: 10px;
    height: 10px;
    background: rgb(255, 89, 0);
    color: #ffffff;
    display: flex;
    border-radius: 50%;
}
#bellIcon{
    margin-right: 10px;
}
#profilePicture{
    width: 40px;
    border-radius: 20px;
}

/* ANIMATION */

.icon-button-badge{
    animation-name: fade;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
}
@keyframes fade{
    50% {opacity:0};
}

/* STATUS DOTS FOR TABLE */

.active-dot {
    height: 20px;
    width: 20px;
    background-color: hsl(144, 77%, 42%);
    border-radius: 50%;
    display: inline-block;
}
.inactive-dot {
    height: 20px;
    width: 20px;
    background-color: hsl(0, 0%, 61%);
    border-radius: 50%;
    display: inline-block;
}

.pagin{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
    margin: 5px;
    border: 1px solid rgb(49, 49, 49);
    font-size: 16px;
    background-color: #ffffff;
}

.right_slide{
    padding: 0;
}


.left_slide{
    padding: 0;
}

.leftarrow_img {
    transform: rotate(180deg);
    fill: rgb(49, 49, 49);
    height: 24px;
    width: 24px;
    transition: 0.7s;
}

.rightarrow_img {
    fill: rgb(49, 49, 49);
    height: 24px;
    width: 24px;
    transition: 0.7s;
}


#form_block {    
    border-radius: 5px;
    border: 0;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
  }
   
  .modal::backdrop {
    background: rgb(0 0 0 / 0.4);
  }
  
  form {
    margin: 20px 0px;
    display: grid;
  }
  
  form div{
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }
  
  form div input{
    height: 35px;
    margin-left: 30px;
  }
  
  form div h4{
    margin: 25px 0 25px 0;
    font-size: 20px;
  }
  
  form select{
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding-top: 3px;
    cursor: pointer;
  }
  form select:hover{
    background-color: #e0e0e0;
  }
  
  .dialog_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .dialog_submit{
    text-align: right;
  }
  
  hr {
    margin: 5px 0; 
    border: none;
    border-top: 1px solid #ccc; 
  }
  
  /* STATUS TOGGLE */
  
  .switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #21f380;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #21f380;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


@media screen and (max-width: 770px){
    
    .pagination{
        width: 20px;
        height: 20px;
        margin: 3px;
        font-size: 10px;
    }

    .icon3 {
        font-size: 20px;
    }
    
    .drop_down_message_menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 62px;
        right: 70px;
    }
    .drop_down_message_menu .messages {
        padding: 6px;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    .drop_down_message_menu .message_sender {
        font-size: 12px;
    }

    .drop_down_message_menu .sender_text {
        font-size: 11px;
    }

    .notify-dropdown:hover .drop_down_message_menu {
        display: flex;
    }

    .leftarrow_img {
        height: 18px;
        width: 18px;
    }
    
    .rightarrow_img {
        height: 18px;
        width: 18px;
    }

    .delete_block .delete_head {
        width: 300px;
        padding: 0 15px 0 20px;
    }
    .delete_block .delete_head p {
        font-size: 25px;
    }
    .close_img {
        font-size: 22px;
    }
    .delete_block .delete_main {
        width: 335px;
        height: 110px;
        font-size: 16px;
    }
    .delete_block .delete_down {
        width: 295px;
        padding: 20px;
    }
    .delete_block .delete_down #delete_ok {
        width: 70px;
        height: 30px;
    }
    .delete_block .delete_down #delete_cancel {
        width: 70px;
        height: 30px;
    }

    form div input{
        height: 30px;
        margin-left: 30px;
    }

    form div h4{
        margin: 20px 0 20px 0;
        font-size: 16px;
    }
    .status{
        font-size: 14px;
    }
    .check_mark {
        width: 10px;
        height: 10px;
        border-radius: 5px;
    }
}